<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8' />
    <title>Rezoning API Demo</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.css' rel='stylesheet' />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.6/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.6/semantic.min.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }

        .zoom-info {
            z-index: 10;
            position: absolute;
            bottom: 17px;
            right: 0;
            padding: 5px;
            width: auto;
            height: auto;
            font-size: 12px;
            color: #000;
        }

        #select {
            position: absolute;
            background-color: white;
            z-index: 2;
            top: 10px;
            left: 10px;
            padding: 10px;
            height: 400px;
            width: 300px;
        }
    </style>
</head>

<body>
    <div id='map'>

        <div class="zoom-info"><span id="zoom"></span></div>
    </div>
    <div id='select'>
        Distance to Airports
        <div id='airport' class="ui range labeled ticked slider"></div>
        Distance to Ports
        <div id='port' class="ui range labeled ticked slider"></div>
        Distance to Anchorages
        <div id='anchorage' class="ui range labeled ticked slider"></div>
        Distance to Grids
        <div id='grid' class="ui range labeled ticked slider"></div>
        Distance to Roads
        <div id='road' class="ui range labeled ticked slider"></div>
    </div>
    <script>
        $('#airport.ui.range.slider')
        .slider({
            min: 0,
            max: 1000000,
            start: 0,
            end: 1000000,
            step: 50000,
            onChange: (wid, min, max) => {
                aiportFilters = `${min},${max}`
                swap()
            }
        })

        $('#port.ui.range.slider')
        .slider({
            min: 0,
            max: 1000000,
            start: 0,
            end: 1000000,
            step: 50000,
            onChange: (wid, min, max) => {
                portFilters = `${min},${max}`
                swap()
            }
        })
        $('#anchorage.ui.range.slider')
        .slider({
            min: 0,
            max: 1000000,
            start: 0,
            end: 1000000,
            step: 50000,
            onChange: (wid, min, max) => {
                anchorageFilters = `${min},${max}`
                swap()
            }
        })

        $('#grid.ui.range.slider')
        .slider({
            min: 0,
            max: 100000,
            start: 0,
            end: 100000,
            step: 5000,
            onChange: (wid, min, max) => {
                gridFilters = `${min},${max}`
                swap()
            }
        })
        $('#road.ui.range.slider')
        .slider({
            min: 0,
            max: 100000,
            start: 0,
            end: 100000,
            step: 5000,
            onChange: (wid, min, max) => {
                roadFilters = `${min},${max}`
                swap()
            }
        })

        var scope = { url: "", metadata: {}, config: {} }

        const filterEndpoint = '{{ filter_endpoint }}'

        var map = new mapboxgl.Map({
            container: 'map',
            style: { version: 8, sources: {}, layers: [] },
            center: [10, 10],
            zoom: 5
        })

        map.on('zoom', function (e) {
            const z = (map.getZoom()).toString().slice(0, 6)
            document.getElementById('zoom').textContent = z
        })
        // airports, ports, anchorages, grid, road
        let airportFilters = '0,1000000'
        let portFilters = '0,1000000'
        let anchorageFilter = '0,1000000'
        let gridFilters = '0,100000'
        let roadFilters = '0,5000'

        function swap () {
            if (map.getLayer('raster')) map.removeLayer('raster')
            if (map.getSource('raster')) map.removeSource('raster')
            
            let filters = `f_roads=${roadFilters}&f_land_cover=12,13`
            console.log(filters)
            let url = `${filterEndpoint}?${filters}&color=45,39,88,178 `
            // let url = `${filterEndpoint}?${filters}&colormap=viridis`
            map.addSource(
              'raster', { type: 'raster', tiles: [url], tileSize: 256 }
            )

            map.addLayer({
                id: 'raster',
                type: 'raster',
                source: 'raster'
            })
        }

        map.on('load', () => {
            swap()
        })
    </script>
</body>
</html>
